# Игнорировать все JSON-файлы
*.json

# Игнорировать все TXT файлы, кроме requirements(список библиотек)
*.txt
!requirements.txt

# Игнорировать все логи
*.log

# Игнорировать все csv
*.csv

# Игнорировать переменную окружения
.env

# Игнорировать содержимое папок:
data/
!data/.gitkeep
data/temp/
!data/temp/.gitkeep